<div class="container">
  <div class="row">
<!--部分テンプレート-->
    <%= render 'list', book: @booknew , user:@user  %>

<!--投稿内容-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= link_to user_path(@book.user.id) do %>
                <p> <%= @book.user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book) do %>
                <p><%= @book.title %></p>
              <% end %>
            </td>
            <td>
              <p><%= @book.body %></p>
              <% if @book.user == current_user %>
            </td>
            <td>
              <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>